<div id="container">
  <p>
    Explore
    <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components
      {{ 'HOME.TITLE' | translate }}
    </a>
  </p>

  <ion-item>
    <ion-label>{{ 'SETTINGS.LANGUAGE' | translate }}</ion-label>
    <ion-select [(ngModel)]="selectedConfig" (ionChange)="changeLanguage($event.detail.value)"
      [compareWith]="compareWith">
      @for (lang of availableLanguages; track lang.localeCode) {
      <ion-select-option [value]="lang">
        {{ lang.name }}
      </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <div class="examples-container">
    <h3>{{ 'SETTINGS.FORMAT_EXAMPLES' | translate }}</h3>

    <ion-item>
      <ion-label>{{ 'SETTINGS.CURREN_LANGUAJE' | translate }}</ion-label>
      <div slot="end">{{selectedLanguage}}</div>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'SETTINGS.CURRENT_LOCALE' | translate }}</ion-label>
      <div slot="end">{{selectedLocale}}</div>
    </ion-item>

    <!-- Ejemplo de formato de moneda -->
    <ion-item>
      <ion-label>{{ 'SETTINGS.CURRENCY_FORMAT' | translate }}</ion-label>
      <div slot="end">{{ sampleAmount | localCurrency }}</div>
    </ion-item>

    <!-- Ejemplo de formato de fecha -->
    <ion-item>
      <ion-label>{{ 'SETTINGS.DATE_FORMAT' | translate }}</ion-label>
      <div slot="end">{{ currentDate | localDate }}</div>
    </ion-item>

    <!-- Ejemplo de la hora -->
    <ion-item>
      <ion-label>{{ 'SETTINGS.TIME_FORMAT' | translate }}</ion-label>
      <div slot="end">{{ currentDate | localDate:'shortTime' }}</div>
    </ion-item>
  </div>

  <div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button>
  </div>
</div>
